.sectionHero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 0 0 var(--space-sidebar);
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  position: relative;
  width: 100%;
}

.columnLeft {
  width: 50%;
  padding-right: 14rem;
}

.mainImg {
  max-width: 610px;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 0 var(--padding-container) 0;
  max-width: 400px;
}

.wrapperTitle {
  max-width: 457px;
}

.text {
  margin: 3rem 0 6rem;
  font-size: var(--fs-h5);
  line-height: 1.6;
  max-width: 375px;
}

@media (max-width: 998px) {
  .wrapper {
    justify-content: center;
  }
  .columnLeft {
    display: none;
  }
}
