.button {
  display: flex;
  padding: 1.2rem 4rem;
  align-items: center;
  justify-content: center;
  background: var(--gradient);
  border: var(--border-line);
  cursor: pointer;
  color: var(--white-color);
  text-transform: capitalize;
  text-align: center;
  font-size: var(--fs-medium);
  font-weight: var(--fw-semibold);
  line-height: 1.6;
}

.primary {
  background: var(--gradient);
  color: var(--white-color);
  border-color: transparent;
}

.primary:hover {
  background: transparent;
  border-color: rgba(var(--white-color), 0.5);
  color: var(--white-color);
}

.secondary {
  background: transparent;
  border-color: rgba(var(--white-color), 0.5);
  color: var(--white-color);
}

.secondary:hover {
  background: var(--gradient);
  color: var(--white-color);
}

.iconBtn,
.iconBtn:hover {
  background: transparent;
  border: none;
  padding: 0;
}
