.sectionBeInTouch {
  position: relative;
  padding: 0 0 0 14rem;
}

.wrapper {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 18.4rem var(--padding-container) 2rem;
}

@media (max-width: 1024px) {
  .sectionBeInTouch {
    padding: 0;
  }
}
