.sectionServices {
  position: relative;
  width: 100%;
  padding: 0 0 0 var(--space-sidebar);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 26rem var(--padding-container) 26rem;
}

.wrapperTitle {
  max-width: 457px;
}

.text {
  margin: 3rem 0 6rem;
  font-size: var(--fs-h5);
  line-height: 1.6;
  max-width: 350px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1.5rem;
}

.btnWrap {
  width: 140px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 16rem var(--padding-container) 16rem;
  }

  .list {
    justify-content: center;
  }
}

@media (max-width: 998px) {
  .wrapper {
    padding: 10rem var(--padding-container) 10rem;
  }
}
