.titleSection {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__subtitle {
    color: var(--watermelon);
    font-size: var(fs-12);
    font-weight: var(fw-bold);
    line-height: 160%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  &__title {
    color: var(--white);
    font-family: Raleway;
    font-size: var(fs-40);
    font-weight: var(fw-bold);
    line-height: 130%;
    text-transform: capitalize;
  }
}
