.post {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 55.5rem;
}

.postTitle {
  margin-bottom: 3.6rem;
  color: var(--white-color);
  font-family: var(--Raleway);
  font-size: var(--fs-24);
  font-weight: var(fw-semibold);
  line-height: 1.5;
  text-transform: capitalize;
}

.postImg {
  width: 100%;
}

.postList {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 3.2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.postList::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background-color: var(--wetasphalt);
  border-radius: 50%;
}

.postListItem {
  position: relative;
  white-space: nowrap;
}

.postListItem::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1px;
  display: inline-block;
  background-color: var(--white-color);
  top: 50%;
  transform: translate(1rem, -50%);
  right: -1.5rem;
}

.postListItem:last-child::before {
  display: none;
}

.listIcon {
  width: 1.8rem;
}

.postBtn {
  position: relative;
  display: flex;
  width: auto;
}
