.sidebar {
  position: fixed;
  transform: translate(-260px, 0);
  width: 400px;
  height: 100%;
  padding: 12rem 1rem 6rem 7rem;
  background-color: transparent;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s ease;
}

.scrolled {
  background-color: var(--blackHole);
}

.nav {
  width: 100%;
}

.btnMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15%;
  top: 60px;
}

.btnClose {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15%;
  top: 60px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.menuItem {
  font-size: var(--fs-h5);
  line-height: 1.6;
}

.sidebarLinks {
  position: absolute;
  right: 15%;
  bottom: 20%;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 390px;
  }

  .btnMenu {
    top: 30px;
    right: -12%;
  }
}

@media (min-width: 400px) {
  .sidebar {
    width: 390px;
    /* transform: translate(-260px, 0); */
  }
}
