.footer {
  &__wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 93px 0 105px;

    @media (max-width: 1200px) {
      padding: 93px 10px 105px;
    }
  }

  &__logo {
    height: 30px;
    width: 100px;
  }

  &__menu {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 2px solid rgba(#ffffff, 0.05);
  }

  &__info {
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__infoColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 28px;
    max-width: 222px;

    &:nth-child(2) {
      flex-direction: row;
      column-gap: 130px;
      max-width: 100%;
    }

    &:nth-child(3) {
      gap: 10px;
    }
  }

  &__infoColumnItem {
    max-width: 144px;
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);
    line-height: 160%;
  }

  &__infoTitle {
    margin-bottom: 10px;
    color: var(--white);
    font-family: var(--Raleway);
    font-size: var(--fs-16);
    font-weight: var(--fw-semibold);
    text-transform: capitalize;
  }

  &__infoWrapText {
    max-width: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__infoTextLink {
    color: var(--wetasphalt);
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      color: var(--white);
    }
  }

  &__infoText {
    line-height: 160%;
  }
}
